* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    background-color: #fff0f6;
    color: #503c5d;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.myButton {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #ff69b4;
  background-color: #ffe6f2;
  border: 2px solid #ff69b4;
  padding: 12px 24px;
  border-radius: 6px;
  box-shadow: 0 0 8px #ffb6c1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}

.myButton:hover {
  background-color: #ff69b4;
  color: #fff;
  box-shadow: 0 0 16px #ffb6c1;
  transform: scale(1.05);
}
 #terminal-input {
    display: block;
    margin: 30px auto;
    padding: 14px 20px;
    width: 80%;
    max-width: 500px;
    font-size: 16px;
    color: #503c5d;
    background-color: #fff;
    border: 2px solid #ff69b4;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 0 10px #ffb6c1;
    transition: 0.3s ease;
    font-family: 'Poppins', sans-serif;
  }

  #terminal-input:focus {
    background-color: #ffe6f2;
    box-shadow: 0 0 15px #ffb6c1;
  }

  #terminal-input::placeholder {
    color: #ff69b4;
    opacity: 0.6;
  }


        
